.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    width: 100%;
   
}

.content {
    position: relative;
    margin-top: 3%;
    margin-left: 15%;

}


.listed {
    margin-top:3%;
    margin-left: 450px;
    display: flex;
    justify-content: space-between;
    width: 15%
}

.icon{
    display: flex;
    justify-content: space-between;
    width: 6%;
    position: relative;
    margin-top: 3%;
    margin-right: 15%;


}

.image {
    position: absolute;
    top: 28%;
    margin-left: 16%;
    font-size: 25px;
}

.content1 {
    position: absolute;
    top: 42%;
    margin-left: 16%;
    font-size: 25px;
}

.image1 {
    position: absolute;
    top: 28%;
    margin-left: 50%;
}

.content2 {
    position: absolute;
    top: 75%;
    margin-left: 16%;
    font-size: 15px;
    color: gray;
}

.content3 {
    position: absolute;
    top: 90%;
    margin-left: 16%;


}

.content3 p {
    color: gray;
    font-size: 18px;
}

button {
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-left: 590px;
    position: absolute;
    top: 110%;
}

.text {
    font-size: 25px;
    margin-left: 590px;
    position: absolute;
    top: 115%
}

.text1 {
    color: gray;
    font-size: 15px;
    margin-left: 590px;
    position: absolute;
    top: 125%
}

.text2 {
    color: gray;
    font-size: 20px;
    margin-left: 590px;
    position: absolute;
    top: 129%;
}

.text3 {
    color: black;
    font-size: 15px;
    margin-left: 591px;
    position: absolute;
    top: 140%;

}

.button1 {

    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-left: 590px;
    position: absolute;
    top: 155%;
}

.txt {
    font-size: 12px;
    margin-left: 590px;
    position: absolute;
    top: 160%
}

.txt1 {
    color: gray;
    font-size: 15px;
}

.txt2 {
    color: gray;
    font-size: 20px;
}

.txt3 {
    font-size: 15px;
}

.button2 {

    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-left: 590px;
    position: absolute;
    top: 200%;
}

.tex {
    font-size: 12px;
    margin-left: 590px;
    position: absolute;
    top: 205%
}

.tex1 {
    color: gray;
    font-size: 15px;
}

.tex2 {
    color: gray;
    font-size: 20px;
}

.tex3 {
    font-size: 15px;
}

.button3 {

    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-left: 590px;
    position: absolute;
    top: 245%;
}

.te {
    font-size: 12px;
    margin-left: 590px;
    position: absolute;
    top: 249%
}

.te1 {
    color: gray;
    font-size: 15px;
}

.te2 {
    color: gray;
    font-size: 20px;
}

.te3 {
    font-size: 15px;
}

.button4 {

    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-left: 590px;
    position: absolute;
    top: 289%;
}

.tet {
    font-size: 12px;
    margin-left: 590px;
    position: absolute;
    top: 294%
}

.tet1 {
    color: gray;
    font-size: 15px;
}

.tet2 {
    color: gray;
    font-size: 20px;
}

.tet3 {
    font-size: 15px;
}

.button5 {

    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-left: 590px;
    position: absolute;
    top: 332%;
}

.t {
    font-size: 12px;
    margin-left: 590px;
    position: absolute;
    top: 337%
}

.t1 {
    color: gray;
    font-size: 15px;
}

.t2 {
    color: gray;
    font-size: 20px;
}

.t3 {
    font-size: 15px;
}

.button6 {

    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-left: 590px;
    position: absolute;
    top: 377%;
}

.tt {
    font-size: 12px;
    margin-left: 590px;
    position: absolute;
    top: 381%
}

.tt1 {
    color: gray;
    font-size: 15px;
}

.tt2 {
    color: gray;
    font-size: 20px;
}

.tt3 {
    font-size: 15px;
}

.button7 {
    padding: 15px 20px 15px 20px;
    background-color: white;
    color: gray;
    margin-left: 16%;
    border-radius: 100%;
    position: absolute;
    top: 421%
}

.button8 {
    padding: 15px 20px 15px 20px;
    background-color: white;
    color: gray;
    margin-left: 20%;
    border-radius: 100%;
    position: absolute;
    top: 421%
}

.button9 {
    padding: 15px 20px 15px 20px;
    background-color: white;
    color: gray;
    margin-left: 24%;
    border-radius: 100%;
    position: absolute;
    top: 421%
}

.button10 {
    padding: 15px 20px 15px 20px;
    background-color: white;
    color: gray;
    margin-left: 28%;
    border-radius: 100%;
    position: absolute;
    top: 421%
}

.button11 {
    padding: 15px 20px 15px 20px;
    background-color: white;

    color: gray;
    margin-left: 32%;
    border-radius: 100%;
    position: absolute;
    top: 421%
}

.im {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 440%;
}

.lst {
    position: absolute;
    top: 89%;
    margin-left: 70%;

}

.ime {
    position: absolute;
    top: 100%;
    margin-left: 70%;
}

.con {
    position: absolute;
    top: 98%;
    margin-left: 78%;
    font-size: 10px;
}

.con p {
    color: gray;
    font-size: 15px;
}

.cont {
    position: absolute;
    top: 115%;
    margin-left: 78%;
    font-size: 10px;

}

p {
    color: gray;
    font-size: 15px;
}

.conte {
    position: absolute;
    top: 131%;
    margin-left: 78%;
    font-size: 10px;

}

.conten {
    position: absolute;
    top: 148%;
    margin-left: 78%;
    font-size: 10px;
}
.ls{
    position: absolute;
    top: 480%;
    margin-left:45%;
    font-size: 15px;
}
.lis{
    position: absolute;
    top: 491%;
    margin-left:43% ;
    display: flex;
    justify-content: space-between;
    width: 15%;
    font-size: 20px;
}
.button12{
position: absolute;
top: 498%;
margin-left: 45%;
border-radius: 100%;
padding: 9px 12px 9px 12px;
background-color: white;
color: black;



}
.button13{
    position: absolute;
    top: 498%;
    margin-left: 48.5%;
    padding: 9px 12px 9px 12px;
    border-radius: 100%;
    background-color: white;
    color: black;
   
    
    }
   
    .button14{
        position: absolute;
        top: 498%;
        margin-left: 52%;
        padding: 9px 12px 9px 12px;
        border-radius: 100%;
        background-color: white;
        color: black;
        
        }